@model BookCategory
@*
    Layout = "~/Views/Shared/_Layout.cshtml";
*@

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Kategorisi Detayı</li>
</ul>
<ul></ul>
</nav>

@if (ViewBag.ErrorTitle == null)
{

    <article class="container">
        <div class="item" style="margin-left:-10px;">
            <div class="alert alert-secondary" role="alert">
                <h4 style="display:block; margin-top:20px; color:black;">Hata Oluştu!!!</h4>
                <h6 class="text-dark">Oluşan hata en yakın zamanda destek birimi tarafından düzeltilecektir</h6>
            </div>
            <form method="post" asp-action="detail" autocomplete="off">
                <input type="hidden" name="ID" id="ID" />
                <div class="row">
                    <div class="col-25">
                        <label for="name">Ad</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="Name" disabled id="name" name="name">
                    </div>
                </div>

            </form>
        </div>
    </article>

}
else
{
    <article class="container">
        <div class="item" style="margin-left:-10px;">
            <div class="alert alert-secondary" role="alert">
                <h4 style="display:block; margin-top:20px; color:black;">@ViewBag.ErrorTitle</h4>
                <h6 class="text-dark">@ViewBag.ErrorMessage</h6>
            </div>
            <form method="post" asp-action="detail" autocomplete="off">
                <input type="hidden" name="ID" id="ID" />
                <div class="row">
                    <div class="col-25">
                        <label for="name">Ad</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="Name" disabled id="name" name="name">
                    </div>
                </div>

            </form>
        </div>
    </article>


}


<script src="~/js/BookCategory.js"></script>
