@model BookPublisher

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Yayınevi Ekle</li>
</ul>
<ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form asp-controller="bookpublisher" asp-action="DeletePost" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" disabled asp-for="Contact.Name" name="name" id="name">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="about">Hakkında</label>
                </div>
                <div class="col-75">
                    <textarea type="text" disabled asp-for="About" id="about" name="about"></textarea>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="logo">Logo</label>
                </div>
                <div class="col-75">
                    <input type="file" disabled name="about" id="about">
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <button type="submit" class="submitButton"><a>Kaydet</a></button>
            </div>
        </form>
    </div>

</article>