
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Kategorisi Düzenle</li>
</ul>
<ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form method="post" asp-action="editPost">
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <button type="submit" class="submitButton"><a>Kaydet</a></button>
            </div>
        </form>
    </div>
</article>