@model Author 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Yazar Düzenle</li>
</ul>
<ul></ul>
            </nav>
<article class="container">
    <div class="item">
        <form method="post" asp-action="edit" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Name" name="name" id="name">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="about">Hakkında</label>
                </div>
                <div class="col-75">
                    <textarea type="text" asp-for="About" id="about" name="about"></textarea>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="record">Kayıt Tarihi</label>
                </div>
                <div class="col-75">
                    @Html.HiddenFor(model => model.RecordDate)
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="logofile">Fotoğraf</label>
                </div>
                <div class="col-75">
                    <input type="file" asp-for="LogoFile" name="logofile" id="logofile">
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <button class="submitButton"><a>Kaydet</a></button>
            </div>
        </form>
    </div>

</article>