
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kitap Satışı Admin Paneli">
    <meta name="keywords" content="kitap,kitap kategorisi, sipariş, yazar,mütercim">
    <meta name="author" content="Hilal Coskun">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link rel="icon" href="../StackOfBooks.svg">
    <title>Book Store</title>
</head>
<body>
    <div class="form">
        <form class="login-form" asp-controller="" asp-action="" method="post">
            <i class="fas fa-user"></i>
            <input class="user-input" type="text" name="" placeholder="Name..." required />
            <input class="user-input" type="password" name="" placeholder="Password..." required />
            <input asp-controller="bookcategory" asp-action="list" class="btn" type="submit" name="" value="LOGIN" />

        </form>
    </div>
</body>
</html>
