
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <ul class="menu">
        <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Türü Düzenle</li>
    </ul>
    <ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form action="">
            <div class="row">
                <div class="col-25">
                    <label for="bookCategory">Kitap Kategori</label>
                </div>
                <div class="col-75">
                    <input type="text" id="bookCategory" name="bookCategory">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <button class="detailButton"><a href=""><i class="fas fa-filter" style="padding-right: 5px;"></i>Filtrele</a></button>
            </div>
        </form>
    </div>
    <div class="item">
        <table class="table">
            <th>Kitap Kategori</th>
            <th>Ad</th>
            <th>Detay</th>
            <tbody>
                <tr>
                    <td data-title="Ad" class="name">Bilim & Mühendislik</td>
                    <td data-title="Ad" class="name">Bilgisayar</td>
                    <td data-title="Detay">
                        <button class="detailButton"><a href="../Detail/index.html"><i class="fas fa-info-circle" style="padding-right: 5px;"></i>Detay</a></button>
                    </td>
                </tr>
                <tr>
                    <td data-title="Ad" class="name">Çocuk Kitapları</td>
                    <td data-title="Ad" class="name">8+ Yaş</td>
                    <td data-title="Detay">
                        <button class="detailButton"><a href=""><i class="fas fa-info-circle" style="padding-right: 5px;"></i>Detay</a></button>
                    </td>
                </tr>
                <tr>
                    <td data-title="Ad" class="name">Edebiyat</td>
                    <td data-title="Ad" class="name">Roman</td>
                    <td data-title="Detay">
                        <button class="detailButton"><a href=""><i class="fas fa-info-circle" style="padding-right: 5px;"></i>Detay</a></button>
                    </td>
                </tr>
                <tr>
                    <td data-title="Ad" class="name">Dini</td>
                    <td data-title="Ad" class="name">Tasavvuf</td>
                    <td data-title="Detay">
                        <button class="detailButton"><a href=""><i class="fas fa-info-circle" style="padding-right: 5px;"></i>Detay</a></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pages">
            <ul style="display: flex; justify-content: center;">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
            </ul>
            <div style="text-align: center;">
                Toplam 10 kayıt bulundu
            </div>
        </div>
        <div class="pageDirection">
            <a href="" style="color: #7a91c0;"><i class="fas fa-arrow-left"></i></a>
            <a href="" style="color: #7a91c0;"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</article>