@model BookType
@*
    Layout = "~/Views/Shared/_Layout.cshtml";
*@

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Kategorisi Ekle</li>
</ul>
<ul></ul>
    </nav>

@if (ViewBag.ErrorTitle == null)
{

    <h3>
        An error njmvkclöxçşz.
    </h3>
    <h5>Please contact us</h5>
}
else
{


<article class="container">
    <div class="item" style="margin-left:-10px;">
        <div class="alert alert-secondary" role="alert">
            <h4 style="display:block; margin-top:20px; color:black;">@ViewBag.ErrorTitle</h4>
            <h6 class="text-dark">@ViewBag.ErrorMessage</h6>
        </div>
        <form asp-controller="booktype" asp-action="DeletePost" method="post">
            <input asp-for="ID" hidden />
            <div class="row">
                <div class="col-25">
                    <label for="bookCategory">Kitap Kategori</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="BookCategoryID" disabled id="bookCategory" name="bookCategory">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Name" disabled id="name" name="name">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <button type="submit" class="submitButton"><a>Delete</a></button>
            </div>
        </form>

    </div>
</article>
    
}


<script src="~/js/BookCategory.js"></script>
