@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Entities.Concrete.BookType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="menu">
    <li>Kitap Türleri</li>
</ul>
<ul>
    <button class="detailButton"><a asp-controller="BookType" asp-action="Add"><i class="fas fa-plus-square" style="padding-right: 5px;"></i>EKLE</a></button>
</ul>
</nav>
<article class="container">
    <div class="item">
        <form asp-controller="BookType" asp-action="List">
            <div class="row">
                <div class="col-25">
                    <label for="bookCategory">Kitap Kategori</label>
                </div>
                <div class="col-75">
                    <input type="text" id="bookCategory" name="bookCategory">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <button class="detailButton" name="SearchText"><a ><i class="fas fa-filter" style="padding-right: 5px;"></i>Filtrele</a></button>
            </div>
        </form>
    </div>
    <div class="item">
        <table class="table">
            <th>Kitap Kategori</th>
            <th>Ad</th>
            <th>Detay</th>
            <tbody>
                @foreach (var type in Model)
                {
                    <tr>
                        <td data-title="Ad" class="name">@type.BookCategoryID</td>
                        <td data-title="Ad" class="name">@type.Name</td>
                        <td data-title="Detay">
                            <button class="detailButton"><a asp-controller="booktype" asp-action="detail" asp-route-id="@type.ID"><i class="fas fa-info-circle" style="padding-right: 5px;"></i>Detay</a></button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="pull-right" style="display:flex; justify-content:center; align-items:center; margin-top:30px;" >
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("List",
               new
                    {
                        page

             }),
             new PagedListRenderOptions
             {
                 LiElementClasses = new string[] { "page-item" },
                 PageClasses = new string[] { "page-link" },
                 Display = PagedListDisplayMode.IfNeeded

                  })
        </div>
        <!--
            <div class="pages">
            <ul style="display: flex; justify-content: center;">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
            </ul>
            <div style="text-align: center;">
                Toplam 10 kayıt bulundu
            </div>
        -->
    </div>
    <div class="pageDirection">
        <a href="" style="color: #7a91c0;"><i class="fas fa-arrow-left"></i></a>
        <a href="" style="color: #7a91c0;"><i class="fas fa-arrow-right"></i></a>
    </div>
    </div>
</article>