
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Düzenle</li>
</ul>
<ul></ul>
            </nav>
<article class="container">
    <div class="item">
        <form method="post" asp-action="editpost">
            <div class="row">
                <div class="col-25">
                    <label for="name" style="font-weight: bold;">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" name="name" id="name">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="author" style="font-weight: bold;">Yazar Adı</label>
                </div>
                <div class="col-75">
                    <input type="text" id="author" name="author" />
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookCategory" style="font-weight: bold;">Kitap Kategorisi</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookCategory" id="bookCategory">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookType" style="font-weight: bold;">Kitap Türü</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookType" id="bookType">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookPublisher" style="font-weight: bold;">Yayınevi</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookPublisher" id="bookPublisher">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="language" style="font-weight: bold;">Dil</label>
                </div>
                <div class="col-75">
                    <input type="text" name="language" id="language">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="paperType" style="font-weight: bold;">Kağıt Tipi</label>
                </div>
                <div class="col-75">
                    <select name="paperType" id="paperType">
                        <option value="">1.Hamur</option>
                        <option value="">2.Hamur</option>
                        <option value="">Kuşe</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="page" style="font-weight: bold;">Sayfa Sayısı</label>
                </div>
                <div class="col-75">
                    <input type="text" name="page" id="page">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="ısbn" style="font-weight: bold;">ISBN</label>
                </div>
                <div class="col-75">
                    <input type="text" name="ısbn" id="ısbn">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="translator" style="font-weight: bold;">Mütercim</label>
                </div>
                <div class="col-75">
                    <input type="text" name="translator" id="translator">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="stok" style="font-weight: bold;">Stok Sayısı</label>
                </div>
                <div class="col-75">
                    <input type="text" name="stok" id="stok">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="price" style="font-weight: bold;">Fiyat</label>
                </div>
                <div class="col-75">
                    <input type="text" name="price" id="price">
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <button class="submitButton"><a>Kaydet</a></button>
            </div>
        </form>
    </div>

</article>