@model BookType
@*
    Layout = "~/Views/Shared/_Layout.cshtml";
*@


<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Kategorisi Ekle</li>
</ul>
<ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form asp-controller="booktype" asp-action="DeletePost" method="post">
            <input asp-for="ID" hidden />
            <div class="row">
                <div class="col-25">
                    <label for="bookCategory">Kitap Kategori</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="BookCategoryID" disabled id="bookCategory" name="bookCategory">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Name" disabled id="name" name="name">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <button type="submit" class="submitButton"><a>Sil</a></button>
            </div>
        </form>

    </div>
</article>

<script src="~/js/BookCategory.js"></script>