
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="wrapper">
        <aside class="sidebar">
            <div class="bg-shadow">

            </div>
            <div class="sidebar-inner">
                <div class="close">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </div>
                <div class="profile-info">
                    <div class="profile-img">
                        <img src="~/images/StackOfBooks.svg" asp-append-version="true">
                    </div>
                    <div class="profile-data">
                        <div class="name" style="font-family: 'Lora', serif;">BOOK CATALOG</div>
                        <a class="btn btn-light" asp-controller="Account" asp-action="Logout" style="margin-top: 20px; color: #2A58AE;"><i class="fas fa-sign-out-alt" style="padding-right: 5px;"></i>Çıkış Yap</a>
                        
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li>
                        <a asp-controller="bookcategory" asp-action="list">
                            <div class="icon"><i class="fas fa-book"></i></div>
                            <div class="title">Kitap Kategorileri</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="booktype" asp-action="list">
                            <div class="icon"><i class="fas fa-book-open"></i></div>
                            <div class="title">Kitap Türleri</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="book" asp-action="list">
                            <div class="icon"><i class="fas fa-book-reader"></i></div>
                            <div class="title">Kitap</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="author" asp-action="list">
                            <div class="icon"><i class="fas fa-user-edit"></i></div>
                            <div class="title">Yazar</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="translator" asp-action="list">
                            <div class="icon"><i class="fas fa-globe-asia"></i></div>
                            <div class="title">Mütercim</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="order" asp-action="list">
                            <div class="icon"><i class="fas fa-tags"></i></div>
                            <div class="title">Sipariş</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="bookpublisher" asp-action="list">
                            <div class="icon"><i class="fas fa-list-alt"></i></div>
                            <div class="title">Yayınevi</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="contact" asp-action="list">
                            <div class="icon"><i class="fas fa-address-book"></i></div>
                            <div class="title">İrtibat</div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="main-container">
            <nav class="top-navbar">
                <div class="hamburger">
                    <div class="hamburger-inner">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
                
                @RenderBody()
</div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
