@model Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="menu">
    <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Kitap Ekle</li>
</ul>
<ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form asp-controller="book" asp-action="deletepost" method="post">
            <input asp-for="ID" hidden />
            <div class="row">
                <div class="col-25">
                    <label for="name" style="font-weight: bold;">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Name" disabled name="name" id="name">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="author" style="font-weight: bold;">Yazar Adı</label>
                </div>
                <div class="col-75">
                    <input type="text" id="author" disabled asp-for="AuthorID" name="author" />
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookCategory" style="font-weight: bold;">Kitap Kategorisi</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookCategory" disabled asp-for="BookCategoryID" id="bookCategory">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookType" style="font-weight: bold;">Kitap Türü</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookType" disabled asp-for="BookTypeID" id="bookType">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="bookPublisher" style="font-weight: bold;">Yayınevi</label>
                </div>
                <div class="col-75">
                    <input type="text" name="bookPublisher" disabled asp-for="BookPublisherID" id="bookPublisher">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="language" style="font-weight: bold;">Dil</label>
                </div>
                <div class="col-75">
                    <input type="text" name="language" disabled asp-for="LanguageID" id="language">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="paperType" style="font-weight: bold;">Kağıt Tipi</label>
                </div>
                <div class="col-75"> 
                    <select name="paperType" asp-for="PaperTypeID" disabled id="paperType">
                        <option value="">1.Hamur</option>
                        <option value="">2.Hamur</option>
                        <option value="">Kuşe</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="page" style="font-weight: bold;">Sayfa Sayısı</label>
                </div>
                <div class="col-75">
                    <input type="text" name="page" disabled asp-for="PagesOfNumber" id="page">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="ısbn" style="font-weight: bold;">ISBN</label>
                </div>
                <div class="col-75">
                    <input type="text" name="ısbn" disabled asp-for="ISBN" id="ısbn">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="translator" style="font-weight: bold;">Mütercim</label>
                </div>
                <div class="col-75">
                    <input type="text" name="translator" disabled asp-for="TranslatorID" id="translator">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="stok" style="font-weight: bold;">Stok Sayısı</label>
                </div>
                <div class="col-75">
                    <input type="text" name="stok" asp-for="AmountOfStock" disabled id="stok">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="price" style="font-weight: bold;">Fiyat</label>
                </div>
                <div class="col-75">
                    <input type="text" name="price" asp-for="Price" disabled id="price">
                    <input type="text" name="price" asp-for="Price" disabled id="price">
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <button type="submit" class="submitButton"><a>Kaydet</a></button>
            </div>

        </form>
    </div>

</article>


<script src="../../main.js?v=3"></script>