@model User 
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kitap Satışı Admin Paneli">
    <meta name="keywords" content="kitap,kitap kategorisi, sipariş, yazar,mütercim">
    <meta name="author" content="Hilal Coskun">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link href="~/css/Login.css" rel="stylesheet" />
    <link rel="icon" href="../StackOfBooks.svg">
    <title>Book Store</title>
</head>
<body>
    <div class="form">
        <form class="login-form" asp-controller="account" asp-action="register" method="post">
            <i class="fas fa-user"><h3>SİGN UP</h3></i>
            <input class="user-input" type="text" asp-for="Name" name="Name" placeholder="Name..." required />
            <input class="user-input" type="text" asp-for="Surname" name="Surname" placeholder="Surname..." required />
            <input class="user-input" type="text" asp-for="Username" name="Username" placeholder="Username..." required />
            <input class="user-input" type="email" asp-for="Email" name="Email" placeholder="Email..." required />
            <input class="user-input" type="password" asp-for="Password" name="Password" placeholder="Password..." required />
            <input class="btn" type="submit" value="SIGN IN" />
            <h5>Create an Account? <a asp-controller="account" asp-action="signUp" type="submit">Sign up</a></h5>
        </form>
    </div>
</body>
</html>
