@model BookPublisher

 
    <ul class="menu">
        <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Yayınevi Düzenle</li>
    </ul>
    <ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form method="post" asp-action="edit">
            <div class="row">
                <div class="col-25">
                    <label for="name">Ad</label>
                </div>
                <div class="col-75">
                    <input type="text" disabled asp-for="Contact.Name" name="name" id="name">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="about">Hakkında</label>
                </div>
                <div class="col-75">
                    <textarea type="text" id="about"  asp-for="About" name="about"></textarea>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-25">
                    <label for="logo">Logo</label>
                </div>
                <div class="col-75">
                    <input type="file" name="logo" id="logo">
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <button type="submit"  class="submitButton"><a>Kaydet</a></button>
            </div>
        </form>
    </div>

</article>